<template>    
<div class="profile-page">
        <section class="section-profile-cover section-shaped my-0">
            <div class="shape shape-style-1 shape-primary shape-skew alpha-4">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </section>
        <section class="mt--100">
            <div class="container">
                <card shadow class="card-profile mt--300" no-body>
                    <div class="px-4">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">
                                    <a href="#">
                                        <img v-lazy="'img/me/cuteAlienStars.png'" class="rounded-circle">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="text-center pt-200">
                            <h3>Marc-Antoine
                                <span class="font-weight-light">, 21</span>
                            </h3>
                            <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>Québec, Canada</div>
                            <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>Ingénieur logiciel - Le meilleur ;)</div>
                            <div><i class="ni education_hat mr-2"></i>Université Laval</div>
                        </div>
                        <div class="mt-5 py-5 border-top text-center">
                            <div class="row justify-content-center">
                                <div class="col-lg-9">
                                    <p>Artiste et programmeur, has many projects and not that much time</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </card>
            </div>
        </section>
    </div>
</template>
<script>

export default {
    name: "about"
};
</script>
<style>
</style>