<template> 
  <div>
    <section class="section-profile-cover section-shaped my-0">
      <div class="shape shape-style-1 shape-primary shape-skew alpha-4"></div>
    </section>
    <section class="section section-skew mt--100">
      <div class="container">
        <card shadow class="card-profile mt--300">
          <div class="text-center">
            <h2>Rien ici pour l'instant</h2>
            <p>
                Regarder le site plus tard
            </p>
          </div>
        </card>
      </div>
    </section>
  </div>
</template>

<script>
export default {};
</script>
<style>
</style>